@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.box {
    width: 16rem;
    height: 16rem;
    /* background: #FFCF25; */
}

